@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #ecf6fe;
}
.logo{
    width: 150px;
}
a.nav-link{
    color: #008aff;  
    border-radius: 20px;
    font-weight: 600;
}
a.dropdown-item{   
    color: #00a7ff;
}
a.nav-link{
    width: 120px;
}
a.nav-link:hover{
    background-color: #0071a8;
    border-radius: 20px;
    transition: 0.5s;
    color: #ffffff;
}

.welcome-text{
    color: #00A7FF;
    margin-bottom: 20px;
}
.sign-in{
    margin-top: 30px;    
}
.register span{
    color: #00A7FF;
}
.register span:hover{
    color: #FFE824;
}


.reg{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
.reg img{
    width: 100%;
}
.form-reg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    padding:20px;
}
.form-select{
    margin-top: 20px;
}

.hero{
    background-color: #F4FAFF; 
    height: 100vh; 
}
.hero h3{
    margin-top: 150px;
}
.hero span{
    color: #008aff;
}
.hero h1{
    font-size: 47px;
}
.hero p{
    font-size: 18px;
}
.hero-text{
    padding-left: 100px;
}
.hero-img{
    margin-top: 10px;
    height: 105vh;
    width: 100vh;
}
.morphing {
    position: relative;
    font-size: 40px;
    color: rgb(98, 101, 182);
    filter: contrast(25) blur(1px);
    margin-bottom: 40px;
    font-family: 'Roboto Slab', serif;
    height: 50px;
  }
  
  .word {
    position: absolute;
    animation: word 16s infinite ease-in-out;
    font-family: 'Unbounded', cursive;
  }
  
  .word:nth-child(1){
      animation-delay: -16s;
  }
  .word:nth-child(2){
      animation-delay: -12s;
  }
  .word:nth-child(3){
      animation-delay: -8s;
  }
  .word:nth-child(4){
      animation-delay: -4s;
  }
  
    @keyframes word {
      0%, 5%, 100% { filter: blur(0px); opacity: 1; }        
      20%, 80% { filter: blur(1em); opacity: 0; }        
    }
  



a.btn{
    margin: 10px 0;
    border-radius: 20px;
    width: 150px;
    padding: 10px;
}
#gg{
    background-image: linear-gradient(to right, #003973 0%, #94cff5 51%, #003973  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;            
}
#gg:hover{
    box-shadow: 5px 3px 40px #9dd5f9;
    background-position: right center; 
}   
@media(max-width: 991px){
    .hero-img{
        display: none;
    }
    .reg img{
        height: 100vh;
    }
}
@media(max-width: 768px){
    .hero-text{
        padding-left: 50px;
    }
    .hero-text h1{
        font-size: 40px;
    }
    .hero p{
        font-size: 15px;
    }
    .hero{
        height: 80vh;
    }
    a.nav-link:hover{
        background :none;   
    }
}
@media(max-width:480px){
    .hero-text h1{
        font-size: 30px;
    }
    .hero-text h3{
        font-size: 20px;
    }
    .reg img{
        height: 100vh;
        width: 100%;
    }
}



.service{
    margin-top: 40px;
}
.service-text{
    margin-top: 20px;
}
.card-topic{
    color: #00A7FF;
    margin-bottom: 20px;
    margin-top: 30px;
}
.card{
    box-shadow: 0px 10px 5px #999;
}
.card-title{
    font-size: 30px;
    padding: 20px;
}
.card-text{
    font-size: 16px;
    text-align: center;
}
.card {
    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .card-body{
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .card-text, .card-title{
    color: #fff;
  }
  
  .card:hover .card-body {
    opacity: 1;
  }


.reviews{
    margin-top: 60px;
}
.reviews-area{
    background-color: #F2F1EF;
    margin-top: 40px;
    padding: 60px;
}
.name{
    color: #000000;
}
.carousel-topic{
    color: #00A7FF;
}



.faq{
    margin-top: 50px;
}
.faq h3{
    margin-bottom: 40px;
}
.accordion-item:hover{
    box-shadow: 5px 5px 10px #999;
}


.footer{
    background-color: #283137;
    margin-top: 30px;
    color: #ffffff;
    padding-bottom: 50px;
    padding-top: 30px;
}
.footer h5{
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}
.footer ul.icon{
    list-style-type: none;
}
.bi{
    padding-right: 30px;
    font-size: 25px;
    cursor: pointer;
}
.footer a{
    text-decoration: none;
    color: #ffffff;

}
.footer a:hover{
    color: #fff;
}